/* Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.calculator-dropdown-container {
	position: relative;
	max-width: 400px;
	width: 100%;
	margin: 14px auto;
	font-family: Arial, sans-serif;
}

.calculator-dropdown-input {
	height: 44px;
	width: 100%;
	padding: 8px 10px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #f1f4f2;
}

.calculator-dropdown-dropdown {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 240px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.calculator-dropdown-option {
	list-style: none;
	text-align: left;
	padding: 10px 12px;
	cursor: pointer;
}

.calculator-dropdown-option:hover,
.calculator-dropdown-option.selected {
	background-color: #325d63;
	color: #fff;
}

.input-label {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #787a79;
	font-size: 16px;
	pointer-events: none;
}
