:root {
	--adu-large-max-width: 416px;
	--adu-small-max-width: 240px;
	--cta-card-min-width: 350px;
	--cta-card-max-width: 384px;
	--neighborhood-large-max-width: 800px;
	--neighborhood-small-max-width: 384px;
	--neighborhood-cta-max-width: 500px;
}

.body {
	max-width: 100%;
	padding: 0 7.5%;
}

.hero {
	font-size: clamp(30px, 6vw, 80px);
	font-weight: bold;
	text-align: center;
	max-width: 100%;
	padding: 0 10%;
	margin-top: -50px;
}

.calculator-cta-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.adu-image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stacked-image-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.adu1-image {
	margin-right: 20px;
	width: clamp(250px, 30vw, var(--adu-large-max-width));
	height: auto;
	object-fit: contain;
}

.adu2-image,
.adu3-image {
	width: clamp(120px, 18vw, var(--adu-small-max-width));
	height: auto;
	margin-bottom: 10px;
	object-fit: contain;
}

.calculator-cta-card {
	flex: 1 1 300px;
	background-color: #f2f8f4;
	border-radius: 12px;
	padding: 10px;
	box-sizing: border-box;
	min-width: var(--cta-card-min-width);
	max-width: var(--cta-card-max-width);
	max-height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.calculator-cta-card h2 {
	font-size: clamp(20px, 4vw, 35px);
	padding: 0 15px;
}

.calculator-cta-card p {
	font-size: clamp(12px, 8vw, 20px);
	width: 90%;
	padding: 0 25px;
	margin-bottom: 5px;
}

.neighborhood-effort-cta-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.neighborhood-effort-cta-container h2 {
	text-align: left;
	font-size: clamp(30px, 6vw, 70px);
	display: flex;
	flex: wrap;
	width: clamp(250px, 100vw, var(--neighborhood-cta-max-width));
	color: #20673f;
}

.neighborhood-image {
	max-width: 704px;
	height: auto;
	border-radius: 28px;
	box-sizing: border-box;
	width: clamp(var(--neighborhood-small-max-width), 30vw, var(--adu-large-max-width));
}

@media screen and (max-width: 460px) {
	.adu2-image,
	.adu3-image {
		display: none;
	}
}
.choose-us-container {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

.choose-us-title {
	font-size: 48px;
	font-weight: bold;
	width: 40%;
}

.choose-us-body {
	font-size: 24px;
	width: 60%;
	text-align: left;
}

@media screen and (max-width: 750px) {
	.choose-us-title,
	.choose-us-body {
		width: 100%;
		text-align: left;
	}
	.choose-us-container {
		flex-wrap: wrap;
	}
}
