.Desktop-Menu {
	font-size: 15px;
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 52px;
	font-weight: 500;
	color: #1b2820;
}

@media screen and (max-width: 600px) {
	.Desktop-Menu {
		display: none !important;
	}
}

.dropdown-Menu-Content {
	display: none;
	position: absolute;
	right: 16px;
	background-color: #f1f1f1;
	min-width: 100px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.Mobile-Menu a {
	font-size: 15px;
	justify-content: center;
	font-weight: 500;
	color: #1b2820;
}

.Mobile-Menu a,
.Desktop-Menu a {
	color: #1b2820;
	text-decoration: none; /* optional */
}
.Mobile-Menu a:hover,
.Desktop-Menu a:hover {
	color: #325d63;
	text-decoration: underline; /* optional */
}

.Menu-Item {
	padding: 4px;
}

.Menu-Item:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #325d63;
}

a:link {
	color: #1b2820 !important;
}

.dropdown-Menu-Content.show {
	display: block;
}

@media screen and (max-width: 1000px) {
	.Desktop-Menu {
		gap: 25px;
	}
}
