.calculator-container {
	margin-top: -100px;
	text-align: center;
}

.calculator-header-row {
	justify-content: space-between;
	display: flex;
	align-items: flex-end;
	padding-inline: auto;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 15px;
}

.calculator-header-row h2 {
	margin-bottom: 0px;
}

.calculator-header-row button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: #8a8b8a;
	font-size: 16px;
	line-height: 1;
	position: relative;
	top: -5px;
}
.calculator-header-row button:hover,
button:focus {
	color: #585958;
}

.calculate-submit-wrapper {
	max-width: 400px;
	margin: 0 auto;
	text-align: right;
}

.calculate-submit {
	background-color: #2e8b57;
}
