.footer-container {
	padding-bottom: 96px;
	justify-content: center;
}

.social-container {
	margin-top: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.footer-contact-container {
	margin-top: 52px;
}

.footer-container h3 {
	margin-top: 52px;
	margin-bottom: 52px;
	font-size: 20px;
	font-weight: bold;
	color: #1b2820;
}

.footer-contact-container p {
	font-size: 15px;
	color: #1b2820;
}

.social-container-item:hover {
	opacity: 0.5;
	cursor: pointer;
}
